<div class="telon-login" *ngIf="mostrarTelon"></div>

<div class="cont-general">
  <button nz-button nzType="default" class="btn-volver" (click)="volverAlLogin()">
    <span nz-icon nzType="caret-left" nzTheme="outline"></span>
    Volver
  </button>

  <button nz-button nzType="default" class="btn-volver btn-continuar" *ngIf="mostrarBotonFinal"
  (click)="accionContinuar()">
  Continuar
  <span nz-icon nzType="caret-right" nzTheme="outline"></span>
</button>

  <div class="overlay"></div>

  <div class="texto-central" [class.desaparecer]="ocultarTexto">
    <p class="frase-escritura">
      <span id="linea1"></span><br />
      <span id="linea2"></span>
    </p>
  </div>

  <div class="contenedor-videos" *ngIf="mostrarPantallaVideo">
    <div *ngFor="let video of videos; let i = index" [ngClass]="[
          getClasePosicion(i),
          'pantalla-video',
          'animar',
          videoActualIndex >= i ? 'visible' : '',
          videosSubiendo ? 'subir' : ''
        ]">
      <div class="video-wrapper">
        <video #videoRef playsinline preload="auto" [muted]="video.muted" (ended)="onVideoEnded(i)">
          <source [src]="video.src" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

<div class="frase-final-contenedor" *ngIf="mostrarFraseFinal">
<p id="fraseFinal" *ngIf="mostrarFraseFinal" class="frase-final"></p>
</div>

</div>